@using Spotiwood.Framework.Api.Application.Dtos;

@if (Playlist?.Status?.Equals("completed", StringComparison.OrdinalIgnoreCase) is true)
{
    <article class="flex flex-col h-screen">
        <iframe class="w-full h-full" style="border-radius:12px"
            src=@($"https://open.spotify.com/embed/playlist/{Playlist.PlaylistId}?utm_source=generator&theme=0")
            frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </article>
}
else
{
    <article class="mt-4 mb-4 rounded-lg bg-slate-800 p-8 font-semibold text-white drop-shadow">
        <div class="text-center">
            <span>It seems this playlist is not quite ready yet:</span>
            <span class="rounded-full bg-pink-600 px-2 pb-1 text-xs drop-shadow-lg">pending</span>
        </div>
    </article>

}


@code {
    [Parameter] public Playlist? Playlist { get; init; }
}
