<button class=@Class @onclick=@OnClick>
    @Text
</button>

@code {
    [Parameter] public string? Text { get; init; }

    [Parameter] public string? Class { get; init; }

    [Parameter] public Func<MouseEventArgs, Task> OnClick { get; init; } = default!;
}
