@using OneOf;
@using Spotiwood.Framework.Api.Application.Dtos;
@using Spotiwood.Framework.Messaging;
@using Spotiwood.UI.App.Events;
@inject IMessageBus _bus

<article class="p-8 bg-gray-300/80 rounded-lg drop-shadow-lg grid grid-cols-4 gap-4 mt-4 mb-4">
    <div class="flex flex-col">
        <img class="h-60 w-44 object-cover rounded-lg drop-shadow-lg border-2 border-content-dark border-opacity-5"
             src="@SearchDetail?.Poster?.AbsoluteUri"
             alt="@SearchDetail?.Title" />
    </div>
    <div class="flex flex-col col-span-3 col-start-2 justify-between">
        <div>
            <h1 class="text-5xl font-black decoration-blue-600 decoration-double underline underline-offset-8 leading-tight">
                @SearchDetail?.Title
            </h1>
            <div class="space-x-2 text-sm font-extralight mt-4">
                <span>Identifier: @SearchDetail?.Identifier</span>

                @if (SearchDetail?.EndYear is not null && SearchDetail?.StartYear is not null)
                {
                    <span>Year: @SearchDetail?.StartYear - @SearchDetail?.EndYear</span>
                }
                else
                {
                    <span>Year: @SearchDetail?.StartYear</span>
                }

                @if (SearchDetail?.Seasons is not null)
                {
                    <span>Seasons: @SearchDetail?.Seasons</span>
                }
            </div>
        </div>
        <div class="text-xl">
            @SearchDetail?.Plot
        </div>
        <div class="font-semibold uppercase text-xs">
            @if (SearchDetail?.Actors?.Any() is true)
            {
                <div class="space-x-2">
                    @foreach (var actor in SearchDetail.Actors)
                    {
                        <span>@actor</span>
                    }
                </div>
            }
        </div>
        <div>
            <p>
                <div class="space-x-2">

                    <span class="bg-black rounded-full px-2 pb-1 text-white lowercase text-xs font-semibold">@SearchDetail?.Type</span>

                    @if (SearchDetail?.Genres?.Any() is true)
                    {
                        @foreach (var genre in SearchDetail.Genres)
                        {
                            <span class="bg-pink-500 rounded-full px-2 pb-1 text-white lowercase text-xs font-semibold">@genre</span>
                        }
                    }
                </div>
            </p>
        </div>
    </div>
</article>

@code {
    [Parameter] public SearchDetail? SearchDetail { get; init; }
}
