@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <NotAuthorized>
        <a href=@Href class=@Class>
            @Text
        </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string Href => "/authentication/login";

    [Parameter] public string Text { get; init; } = "Sign in";

    [Parameter] public string Class { get; init; } = default!;
}
