@using OneOf;
@using Spotiwood.Framework.Api.Application;
@using Spotiwood.Framework.Api.Application.Abstractions;
@using Spotiwood.Framework.Api.Application.Dtos;
@using Spotiwood.Framework.Api.Infrastructure;
@using Spotiwood.Framework.Messaging;
@using System.Text.Json;
@using Spotiwood.UI.App.Components.Search
@using Spotiwood.UI.App.Layouts;
@page "/search/{Id}"
@layout Dashboard
@inject IService _service

@if (SearchDetail?.IsT0 is true)
{
    <span>@SearchDetail!.Value.AsT0.Message</span>
}
else if (SearchDetail?.IsT1 is true)
{
    <SearchDetailCard SearchDetail=SearchDetail.Value.AsT1 />
}
else
{
    <span>Nope dude</span>
}

@code {
    private OneOf<Error, SearchDetail>? SearchDetail { get; set; }

    [Parameter] public string Id { get; init; } = default!;

    protected async override Task OnInitializedAsync()
    {
        SearchDetail = await _service.SearchDetailsAsync(Id);
    }
}
