@using Spotiwood.UI.App.Components.Branding
@inherits LayoutComponentBase

<div class="grid w-full h-screen grid-cols-12 gap-4">
    <div class="col-span-3 flex flex-col justify-between bg-slate-50 p-2 lg:p-4">
        <div>
            <Logo />
            <!-- Navigation -->
            <section class="space-y-8">
                <nav>
                    <ul class="mt-8 space-y-4">
                        <li class="flex items-center gap-2">
                            <svg class="text-primary w-6" xmlns="http://www.w3.org/2000/svg" width="24"
                                 height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                            <a class="font-semibold lowercase underline decoration-blue-600 decoration-double decoration-2 underline-offset-8"
                               href="/search" alt="search">Search</a>
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
        <div>
            <!-- Actions -->
            <section></section>
            <!-- Avatar -->
            <section></section>
        </div>
    </div>
    <div class="col-span-9 flex flex-col overflow-y-scroll p-2 lg:p-4">
        @Body
    </div>
</div>