@using Spotiwood.UI.App.Components.Branding
@inherits LayoutComponentBase

<div class="grid w-full h-screen grid-cols-12 gap-4 text-slate-900">
    <div class="flex flex-col col-span-12 p-2 lg:p-4">
        <Logo />
    </div>
    <div class="flex flex-col col-span-10 col-start-2 col-end-12 place-items-center">
        @Body
    </div>
</div>