<a href=@Href class=@Css alt=@Alt>
    @ChildContent
</a>

@code {
    [Parameter]
    public string? Href { get; init; }

    [Parameter]
    public string? Css { get; init; }

    [Parameter]
    public string? Alt { get; init; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
