@typeparam ItemType

<ul class="mt-8 space-y-4">
    @foreach (var item in Items)
    {
        <li class="flex items-center gap-2">
            @Template(item)
        </li>
    }
</ul>

@code {
    [Parameter] public IEnumerable<ItemType> Items { get; init; } = Enumerable.Empty<ItemType>();

    [Parameter] public RenderFragment<ItemType> Template { get; init; } = default!;
}
