@using SoundForest.App.Components.Buttons
@using SoundForest.App.Components.Icons
@inject NavigationManager _navigationManager

<section>
    <ul class="flex">
        <li>
            <div class="flex gap-0 justify-start">
                <LinkButton Alt="Soundforest" Href="/" Css="font-serif font-thin text-neutral-50 text-xl">
                    <span class="flex">
                        <Icon Name="trees" Css="h-6 w-6 stroke-emerald-500" />
                        <span>soundforest</span>
                        <span class="font-black text-rose-400 text-xl">.</span>
                    </span>
                </LinkButton>
            </div>
        </li>
    </ul>
</section>