@page "/titles"
@using SoundForest.App.Features.Titles.Components.SearchBar
@using SoundForest.App.Features.Titles.Components.SearchGrid

<section class="flex flex-col gap-4">
    <SearchBar />
    <SearchGridPager />
    <SearchGrid />
</section>

@code {

}
