@using OneOf;
@using SoundForest.App.Features.Titles.Events;
@using SoundForest.Framework.Api.Application.Dtos;
@using SoundForest.Framework.Messaging;
@inject IMessageBus _bus;

<div class="grid grid-cols-2 gap-4 flex-1 overflow-y-scroll">
    @if (Result?.IsT0 is true)
    {
        <span>@Result.Value.AsT0.Message</span>
    }
    else if (Result?.IsT1 is true)
    {
        @foreach (var summary in Result.Value.AsT1.Items)
        {
            <SearchGridItem Summary=summary />
        }
    }
</div>

@code {
    private OneOf<Error, PagedCollection<TitleSummary>>? Result { get; set; }

    protected override void OnInitialized()
    {
        _bus.Subscribe<OnSearchEvent>(OnSearchResultsChanged);
    }

    private void OnSearchResultsChanged(OnSearchEvent @event)
    {
        Result = @event.Data;
        StateHasChanged();
    }
}